/Build/Behat/*
/Build/PhpCodesniffer/*
/Build/BuildEssentials
/Build/Reports
/Build/Resources
/Configuration/
/Data/
/Packages/Application/
/Packages/Framework/
/Packages/Libraries/
/Packages/Plugins/
/Web/
/bin/
/Readme.txt
/Readme.rst
/Upgrading.txt
/Upgrading.rst
/flow
/flow.bat

# ignore the downloaded selenium server, config and the selenium
# temporary directory (which starts with a quote, do not ask why...)
/Tests/Selenium/settings.xml
Build/Resources/Java/selenium-server-standalone*
/"

node_modules
npm-debug.log
Packages/Sites/Neos.PhpUnconference.Demo/Resources/Public/Styles/Main.css
